@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-matheus-souza-3693599\ \(1\).jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#forms{
    display: block;
    padding: 10px;
}

div#forms > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#forms > p {
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form>input[type=submit]:hover{
    background-color: #244a49;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #244a49;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #6be3df;
}
